*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.nota{
    width: 265px;
    height: 333px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin: 200px;
    cursor: pointer;

}
.nota a{
    font-size: 14px;
    font-weight: 700;
}
p{
    font-size: 12px;
    color: #807e7e;
    

}
.box-texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.box-tag{
    flex-grow: 1;   


}
.box-tag > a{
   padding: 2px 4px;
   color: var(--andes-color-blue-500,#3483fa);
   background-color: #deeafc;
   border-radius: 6px;
   font-size: 12px;
   margin-left: 10px;
}