*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
.carrusel{
    position: relative;
   
}
.boxIntento{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
}

.carril{
    display: flex;
    transition: transform 1s ease;
}
.boxVisibleMomentaneo{
    display: flex;
    position: relative;

}
.titulos{
    width: 100%;
    padding: 15px 15px 0px 15px;
    background-color: white;
    display: flex;
    align-items: center ;
    justify-content: space-between;
} 
.btnIzquierdo , .btnDerecho{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    top: 160px;
}
.btnIzquierdo:hover , .btnDerecho:hover{
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.377);
   cursor: pointer;
}


.btnIzquierdo{
    left: -32px;
}
.btnDerecho{
    right: -32px;
}

.indice{
    display: flex;
    gap: 3px;

    
}

.indice2{
    display: flex;
    gap: 3px;
    left: 50vw;
    bottom: 20px;
    position: absolute;
}
