*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.filtro{
    margin-top: 200px;
    margin-left: 100px;
    width: 1184px;
    height: 112px;
    border-radius: 6px;
    display: flex;
    padding: 24px 32px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;

}

ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #ecebeb;
    position: relative;
  
}
ul:hover{
    border: 1px solid #969595;
}


ul:hover > .submenu {
    display: block;
  }
  
ul::after{
    content: "";
    background-image: url('../icons8-flecha-ampliar-24.png');
    width: 20px;
    height: 20px;

}
a{
    color: black;
}

.btn2{
    width: 148.6px;
    height: 44px;
    display: flex;
    cursor: pointer;
    justify-content:space-between;
    align-items: center;
}
button{
    width: 101px;
    height: 48px;
    border-radius: 6px;
    justify-self: center;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 15px;
    background-color: var(--andes-color-blue-500,#3483fa);
    transition: background-color 0.3s ease;
}
button:hover{
background-color: #2e72d6;
}


.submenu {
  
    position: absolute;
    top: 100%; 
    padding: 10px;
    left: 0;
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
  }
  
.submenu > li{
    margin-top:10px ;
    font-size: 17px;
    
}

input{
    border-radius: 12px;
    width: 90%;
    padding: 10px;
    border: none;
   
}
.box-input{
    
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border:2px solid #3483fa;
}
input::focus{
    border: outset;
    
}


